body {
    font-family: 'Segoe UI', 'sans-serif' !important;
    color: black !important;
    font-size: 16px !important;
    height: 100%;
    margin: 0;
}

.card-header {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-body dt {
    font-weight: bold;
}

.form-group label {
    font-weight: bold;
}


.cm-content {
    min-height: 100%;
    margin-bottom: 20px;
}

.cm-top-nav-bar {
    background-image: linear-gradient(to right, white, #E82A79) !important;
    margin-bottom: 0px;
    border: 0px;
    height: 48px;
    border-radius: 0;
}

.cm-menu-bar {
    background-image: linear-gradient(to right, white, #E82A79) !important;
    margin-top: -170px;
}

.cm-signin {
    color: #ffffff !important;
    font-size: 16px;
    vertical-align: middle;
    margin-top: 20px;
}

.cm-username {
    border-right: solid 1px white;
    padding-right: 6px;
}

.cm-logout {
    vertical-align: middle;
    padding-left: 2px;
}

.placeholder {
    width: 160px !important;
}

.text-white {
    color: white !important;
}

.cm-menu-item {
    color: black !important;
    padding: 0px !important;
}

.cm-menu-item-active {
    background-color: #D0CCCC;
}

.cm-logo {
    /*border-style: none;
    width: auto;
    padding: 8px;
    
    width: 30%;*/
    border-style: none;
    width: auto;
    margin-left: -10px;
    padding: 8px;
    max-height: 70px;
}

.cm-panel-default {
    background: #fff !important;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
}

.cm-section-heading {
    font-family: 'Segoe UI', 'sans-serif' !important;
    font-size: 25px;
    background-color: #fff;
    border-bottom: 4px solid #E82A79;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 40px;
    color: black;
}

.cm-section-subheading {
    font-family: 'Segoe UI', 'sans-serif' !important;
    font-size: 18px;
    background-color: #fff;
    border-bottom: 4px solid #E82A79;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 40px;
    color: black;
}

.p10 {
    padding: 2px;
}

.w286 {
    width: 286px;
}

.w120 {
    width: 120px;
}

.w200 {
    width: 200px;
}

.mr250 {
    margin-right: 250px;
}

.mt100 {
    margin-top: 100px;
}

.mt200 {
    margin-top: 200px;
}

.mt20 {
    margin-top: 20px;
}

.mt40 {
    margin-top: 40px;
}

.cm-button-default {
    color: #fff !important;
    background-color: #004578;
    border-color: #2e6da4;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: linear-gradient(to right, #EC572E, #E82A79);
    border: 1px solid transparent;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.42857143;
    border-radius: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 25px;
    margin-bottom: 20px;
}

    .cm-button-default:hover {
        background-image: linear-gradient(to right, #E82A79, #EC572E);
        border-radius: 30px;
        padding: 12px 20px;
        font-size: 18px;
        font-weight: bold;
        color: #004578;
    }

.cm-button-error {
    color: #fff;
    background-color: #004578 !important;
    border-color: #2e6da4;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 25px;
    margin-bottom: 20px;
}

    .cm-button-error:hover {
        background-color: #EAE7E7 !important;
        border-radius: 5px;
        padding: 12px 20px;
        font-size: 18px;
        font-weight: bold;
        color: #004578;
    }

.cm-button-success {
    color: #fff;
    background-color: #256525;
    border-color: #2e6da4;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 25px;
    margin-bottom: 20px;
}

    .cm-button-success:hover {
        background-color: #EAE7E7;
        border-radius: 5px;
        padding: 12px 20px;
        font-size: 18px;
        font-weight: bold;
        color: #004578;
    }

.cm-button-danger {
    color: #fff;
    background-color: #EA2333;
    border-color: #2e6da4;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 25px;
    margin-bottom: 20px;
}

    .cm-button-danger:hover {
        background-color: #EAE7E7;
        border-radius: 5px;
        padding: 12px 20px;
        font-size: 18px;
        font-weight: bold;
        color: #004578;
    }

.cm-table {
    background: #ffffff !important;
    font-size: 16px;
}

    .cm-table th {
        padding: 10px !important;
    }

    .cm-table td {
        padding: 10px !important;
    }

.cm-table-head th {
    text-align: center;
    background: #F9F9F9 !important;
    font-size: 14px;
}

.cm-ellipsis {
    text-align: center !important;
}

    .cm-ellipsis a {
        color: black !important;
    }

.cm-minus-circle {
    text-align: center;
}

    .cm-minus-circle a {
        color: black !important;
    }

.cm-link-button {
    cursor: pointer;
}

    .cm-link-button:hover {
        cursor: pointer;
        color: #004578 !important;
    }

/*.cm-footer {
    background-color: #F9F9F9;
    position: absolute !important
}*/

.cm-container {
    margin-left: 80px;
}

.cm-footer, .cm-push {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #E6E6E6;
    font-size: 12px !important;
    color: black !important;
    height: 20px;
    line-height: 20px;
}

a.cm-dropdown-option {
    background: transparent !important;
    color: black;
    cursor: pointer;
}

    a.cm-dropdown-option:hover {
        background: transparent !important;
        color: #004578 !important;
        cursor: pointer;
    }

.mrtop {
    margin-top: 25px !important;
}

.maxwidth {
    width: 1300px !important;
}


.mr420 {
    margin-right: !important;
}
.red-star {
    color: red;
}

/* Input Bar*/

.text-input-bar {
    display: inline-block;
    position: relative;
}

    .text-input-bar input[type="text"] {
        width: 200px;
        padding: 10px;
        border: none;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .text-input-bar button[type="submit"] {
        background-color: #4e99e9;
        border: none;
        color: #fff;
        cursor: pointer;
        padding: 10px 20px;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 0;
        right: 0;
        transition: .9s ease;
    }

        .text-input-bar button[type="submit"]:hover {
            transform: scale(1.1);
            color: rgb(255, 255, 255);
            background-color: blue;
        }

/* Loader */

.center-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #262626;
}

.loader-circle-9 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-family: sans-serif;
    font-size: 12px;
    color: #00eaff;
    text-transform: uppercase;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

    .loader-circle-9:before {
        content: "";
        position: absolute;
        top: -3px;
        left: -3px;
        width: 100%;
        height: 100%;
        border: 3px solid transparent;
        border-top: 3px solid #00eaff;
        border-right: 3px solid #00eaff;
        border-radius: 50%;
        animation: animateC 2s linear infinite;
    }

    .loader-circle-9 span {
        display: block;
        position: absolute;
        top: calc(50% - 2px);
        left: 50%;
        width: 50%;
        height: 4px;
        background: transparent;
        transform-origin: left;
        animation: animate 2s linear infinite;
    }

        .loader-circle-9 span:before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #00eaff;
            top: -6px;
            right: -8px;
            box-shadow: 0 0 20px #00eaff;
        }

@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}
