@model List<Marketplace.SaaS.Accelerator.AdminSite.Models.Offers.OfferListItemViewModel>
@{
    ViewData["Title"] = "Offers";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="container">
    <div class="">
        <div class="card-body" style="margin-left:-30px;">
            <div class="text-left">
                <span class="cm-section-heading">Offers</span>
            </div>
            <div id="myModal">
                @if (Model != null && Model.Any())
                {
                    <div class="table-responsive mt20">
                        <table class="table table-bordered dt-responsive cm-table" width="100%" cellspacing="0">
                            <thead class="cm-table-head text-start">
                                <tr>
                                    <th>Offer Id</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="text-start">
                                @{ var i = 0;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.OfferId
                                        </td>
                                        <td class="cm-ellipsis">

                                            <a class="nav-link dropdown cm-link-button" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></a>
                                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                                    <a class="dropdown-item cm-dropdown-option" data-bs-target="#myModal" onclick="ViewOfferDetailsById('@item.OfferGuid')">Edit</a>
                                                </div>
                                            
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {

                    <div class="cm-panel-default mt40">
                        <div class="p-3 mr420">
                            <p>
                                You do not have any Offers!
                            </p>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
<script>
    function ViewOfferDetailsById(offerGuid) {
        $.ajax({
            type: "Get",
            url: "Offers/OfferDetails",
            data: { offerGuid: offerGuid },
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                $('#myModal').html(data);
                //$('#myModal').modal();
            },
            error: function () {
                alert("Content load failed.");
            }
        });
    }

</script>

