@using Microsoft.Marketplace.SaaS.SDK.Services.Models
@model List<SubscriptionLicensesViewModel>
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="container">
    <div class="">
        <div class="card-body">
            <div class="text-left">
                <span class="cm-section-heading">Licenses</span>
            </div>
            @if (Model != null && Model.Count() > 0)
            {
                <div class="table-responsive mt20">
                    <table class="table table-bordered dt-responsive cm-table" width="100%" cellspacing="0">
                        <thead class="cm-table-head">
                            <tr>
                                <th>Subscription Id</th>
                                <th>Subscription Name</th>
                                <th>Plan Name</th>
                                <th>License Key</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{ var i = 0;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.AmpsubscriptionId</td>
                                    <td>@item.SubscriptionName</td>
                                    <td>@item.PlanName</td>
                                    <td>
                                        <label id="Copy-@i">@item.LicenseKey</label>
                                    </td>
                                    <td>
                                        <span class="badge text-white">
                                            <button class="btnclipbord" onclick="confirmDialog()" type="button" data-clipboard-action="copy" data-clipboard-target="#Copy-@i"><i class="fa fa-clone" aria-hidden="true"></i></button>
                                        </span>
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {

                <div class="cm-panel-default mt40">
                    <div class="p-3 mr420">
                        <p>
                            You do not have any License yet!
                        </p>
                    </div>
                </div>

            }
        </div>
    </div>
</div>

<script src="~/js/clipboard.min.js"></script>
<script>
    //$(document).ready(function () {
    //    $('table').dataTable({
    //        "bSort": false
    //    });
    //});
    new ClipboardJS('.btnclipbord');
    function confirmDialog() {
        swal({
            title: "Copied",
            text: "License key is copied to your clipboard. Use Ctrl+v or Paste function to use the content.",
            icon: "success",
            timer: 1000
        })
    }
</script>
