@*@using Microsoft.Marketplace.SaasKit.Client.Models*@
@using Microsoft.AspNetCore.Mvc.TagHelpers
@*@model Microsoft.Marketplace.SaasKit.Client.Models.SubscriptionResultExtensionSubscriptionResultExtension
    @{
        //ViewData["Title"] = "Home";
    }*@
<div class="container">
    <form method="post">
        <div class="cm-panel-default mt40">
            <div class="p-3">
                <p>We are busy activating you!</p>
                <p>We are busy in the background setting up your service. You'll receive an email when it's up and running.</p>
                <!-- Loader Element Here -->
                <div class="loader" id="activationLoader"></div>
                <div class="loader JS_on">
                    <span class="binary"></span>
                    <span class="binary"></span>
                    <span class="getting-there">Setting up your Botsa.</span>
                </div>
            </div>
        </div>
        <div class="text-end">
            <button type="submit" asp-action="Subscriptions" class="cm-button-default mt40 text-end">Go to Subscription List</button>
        </div>
    </form>
</div>

