@model List<Marketplace.SaaS.Accelerator.Services.Models.PlansModel>
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="container">
    <div class="">
        <div class="card-body">
            <div class="text-left">
                <span class="cm-section-heading">Plans</span>
            </div>

            <div id="myModal">
                
                @if (Model != null && Model.Count() > 0)
                {
                    <div class="table-responsive mt20">
                        <table class="table table-bordered dt-responsive cm-table text-start" width="100%" cellspacing="0">
                            <thead class="cm-table-head">
                                <tr>
                                    <th>Plan Name</th>
                                    <th>Description</th>
                                    <th>Offer</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody class="text-start">
                                @{ var i = 0;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.DisplayName
                                        </td>
                                        <td>
                                            @item.Description
                                        </td>
                                        <td>
                                            @item.OfferName
                                        </td>
                                        <td class="cm-ellipsis">
                                            @* <div class="nav-item dropdown"> *@
                                            <a class="nav-link dropdown cm-link-button" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></a>
                                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                                    <a class="dropdown-item cm-dropdown-option" data-bs-target="#myModal" onclick="ViewPlandetailsById('@item.PlanGUID')">Edit</a>
                                                </div>
                                            @* </div> *@
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {

                    <div class="cm-panel-default mt40">
                        <div class="p-3 mr420">
                            <p>
                                You do not have any Plans!
                            </p>
                        </div>
                    </div>

                }
          
            </div>
        </div>
    </div>
</div>


<script>
    function ViewPlandetailsById(PlanGUID) {
        $.ajax({
            type: "Get",
            url: "Plans/PlanDetails",
            data: { planGuId: PlanGUID },
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                $('#myModal').html(data);
                //$('#myModal').modal();
            },
            error: function () {
                alert("Content load failed.");
            }
        });
    }
</script>