@*@using Microsoft.Marketplace.SaasKit.Client.Models*@
@using Microsoft.AspNetCore.Mvc.TagHelpers
@*@model Microsoft.Marketplace.SaasKit.Client.Models.SubscriptionResultExtensionSubscriptionResultExtension
    @{
        //ViewData["Title"] = "Home";
    }*@
<div class="container">
    <form method="post">
        <div class="cm-panel-default mt40">
            <div class="p-3">
                <p>
                    Plan parameters updated successfully.
                </p>
            </div>
        </div>
        <div class="text-right">
            <button type="submit" asp-action="Index" asp-controller="Plans" class="cm-button-default mt40 text-end">Go to Subscription List</button>
        </div>
    </form>
</div>

